<div class="container profile-page view-profile">
  <div class="row">
    <div class="col-12 carousel-section">
      {{#carousel-container transitionInterval=400 as |ui controls|}}
        <div class="carousel-body">
          {{#if @profile.photo1}}
            {{#ui.item}}
              <img class="carousel-image" src={{@profile.photo1}} alt="sample" data-test-photo>
            {{/ui.item}}
          {{/if}}
          {{#if @profile.photo2}}
            {{#ui.item}}
              <img class="carousel-image" src={{@profile.photo2}} alt="sample" data-test-photo>
            {{/ui.item}}
          {{/if}}
          {{#if @profile.photo3}}
            {{#ui.item}}
              <img class="carousel-image" src={{@profile.photo3}} alt="sample" data-test-photo>
            {{/ui.item}}
          {{/if}}
          {{#if @profile.photo4}}
            {{#ui.item}}
              <img class="carousel-image" src={{@profile.photo4}} alt="sample" data-test-photo>
            {{/ui.item}}
          {{/if}}
        </div>
        <div role="button" class="arrow left" onclick={{controls.previous}}></div>
        <div role="button" class="arrow right" onclick={{controls.next}}></div>
      {{/carousel-container}}
    </div>
  </div>

  <div class="row summary">
    <div class="col-2">
      <img
        class="profile-pic"
        src={{@profile.profilePicSrc}}
        width="125px"
        alt=""
        data-test-profile-pic
      >
    </div>
    <div class="col-8 info">
      <h4 data-test-name>{{@profile.profileName}}</h4>
      <p>
        <span data-test-gender>{{gender-display @profile.gender}}</span>
        • <span data-test-occupation>{{@profile.occupation}}</span>
        {{#if @profile.age}}
          • <span data-test-age>{{@profile.age}}</span> years old
        {{/if}}
      </p>
      <p class="highlight">
        <span data-test-neighborhood>{{@profile.neighborhoodDisplay}}</span>
        • Adults <span data-test-adult-count>{{@profile.adultCount}}</span>
        {{#if @profile.kidCount}}
          • Kids <span data-test-kid-count>{{@profile.kidCount}}</span>
        {{/if}}
        {{#if @profile.petCount}}
          • Pets <span data-test-pet-count>{{@profile.petCount}}</span>
        {{/if}}
        {{#if @profile.petBreed}}
          • <span data-test-pet-breed>{{@profile.petBreed}}</span>
        {{/if}}
      </p>
    </div>
  </div>

  <div class="row greeting">
    <div class="col-12">
      <p data-test-greeting>{{@profile.greeting}}</p>
    </div>
  </div>

  <div class="row">
    <div class="preview-section col-md-6">
      <h6>Transportation</h6>
      {{transportation-display profile=@profile}}
    </div>
    <div class="preview-section col-md-6">
      <h6>Amenities/Stores</h6>
      <p data-test-environment>{{@profile.neighborhoodFeatures}}</p>
    </div>
  </div>

  <div class="row divider-above">
    <div class="preview-section col-md-6">
      <h6>Language Spoken</h6>
      <p data-test-languages>{{@profile.languages}}</p>

      <h6>Habit</h6>
      <p data-test-free-time>{{@profile.freeTime}}</p>

      <h6>Favorite Food</h6>
      <p data-test-favorite-food>{{@profile.favoriteFood}}</p>
    </div>
    <div class="preview-section col-md-6">
      <h6>Movie Type</h6>
      <p data-test-movie-genre>{{movie-genre-display @profile.movieGenre}}</p>
      <h6>Use Illicit Substance/Drug</h6>
      <p data-test-used-substances>{{substances-display @profile.mySubstances}}</p>

    </div>
  </div>

  <div class="row divider-above">
    <div class="preview-section question col-12">
      <h6>Question</h6>
      <p data-test-question>{{@profile.question}}</p>
    </div>
  </div>
  <div class="row">
    <div class="preview-section additional-note col-12">
      <h6>Additional Notes</h6>
      <p data-test-additional-note>{{@profile.additionalNote}}</p>
    </div>
  </div>
</div>

{{yield}}
