{{#nav-bar}}{{/nav-bar}}

<!-- Search Section -->
<div class="container" id="matchMaking-preview">
  <div class="row">
    <section id="search-bar-container">
      <form id="search-filter">
        <fieldset class="filter-menu listing-menu col-lg-3">
          <legend id="location-filter">
              <select class="form-control dropdown" id="neighborhood-entries" name="neighborhood">
                    <option value="" selected="selected" disabled="disabled">Neighborhood</option>
                    <optgroup label="Central Seattle:">
                      <option value="1">Belltown</option>
              <option value="2">Broadmoor</option>
              <option value="3">Capitol Hill</option>
          <option value="4">Central District</option>
          <option value="5">Denny-Blaine</option>
          <option value="6">Downtown</option>
          <option value="7">Eastlake</option>
          <option value="8">First Hill</option>
          <option value="9">International District</option>
          <option value="10">Leschi</option>
          <option value="11">Madison Park</option>
          <option value="12">Madison Valley</option>
          <option value="13">Madrona</option>
          <option value="14">Montlake</option>
          <option value="15">Pioneer Square</option>
          <option value="16">South Lake Union</option>
          </optgroup>
          <optgroup label="Northeast Seattle:">
            <option value="17">Bryant</option>
            <option value="18">Hawthorne Hills</option>
            <option value="19">Lake City</option>
            <option value="20">Laurelhurst</option>
            <option value="21">Maple Leaf</option>
            <option value="22">Matthews Beach</option>
            <option value="23">Northgate</option>
            <option value="24">Ravenna</option>
            <option value="25">Roosevelt</option>
            <option value="26">U-District</option>
            <option value="27">View Ridge</option>
            <option value="28">Wedgwood</option>
            <option value="29">Windermere</option>
          </optgroup>
          <optgroup label="Northwest Seattle:">
            <option value="30">Ballard</option>
            <option value="31">Blue Ridge/North Beach</option>
            <option value="32">Broadview</option>
            <option value="33">Crown Hill</option>
            <option value="34">Fremont</option>
            <option value="35">Green Lake</option>
            <option value="36">Greenwood</option>
            <option value="37">Haller Lake</option>
            <option value="38">Loyal Heights</option>
            <option value="39">Magnolia</option>
            <option value="40">Phinney Ridge</option>
            <option value="41">Queen Anne</option>
            <option value="42">Wallingford</option>
            <option value="43">Westlake</option>
            <option value="44">Whittier Heights</option>
          </optgroup>
          <optgroup label="South Seattle:">
            <option value="45">Beacon Hill</option>
            <option value="46">Columbia City</option>
            <option value="47">Georgetown</option>
            <option value="48">Mount Baker</option>
            <option value="49">Rainier Beach</option>
            <option value="50">Seward Park</option>
            <option value="51">South Park</option>
          </optgroup>
          <optgroup label="West Seattle:">
            <option value="52">Admiral</option>
            <option value="53">Alki</option>
            <option value="54">Fauntleroy</option>
            <option value="55">Junction</option>
          </optgroup>
          </select>
          </legend>
            </fieldset>
          <fieldset class="filter-menu listing-menu col-lg-3">
          <legend id="family-filter">
            <div id="family-entries" onclick="">Family Size
            <span class="dropdown-icon"><i class="fa fa-chevron-down"></i></span>
            </div>
            <div class="filter-pane hide">
              <div class="form-group" id="family-structure">
                <div id="adult-filter">
                <p class="family" for="name"><i class="fa fa-male"></i> Adult </p>
                <div class="number-incrementer">
                  <div class="input-group">
                    <span class="input-group-btn"><button type="button"  class="btn btn-default btn-number"  onclick={{action "decrement" "adultCount" }} disabled={{eq adultCount 1}}><img src="/assets/images/icon_minusbtn_grn.png" alt="plusbtn" height="25px" width="25px"></button>
                    </span>
                    <span class="form-control" id="adult">{{adultCount}}</span>
                    <span class="input-group-btn"><button type="button" class="btn btn-default btn-number" onclick={{action "increment" "adultCount" }}><img src="/assets/images/icon_plusbtn_grn.png" alt="plusbtn" height="25px" width="25px"></button>
                    </span>
                  </div>
                </div>
              </div>
              <div id="kid-filter">
                <p class="family" for="name"><i class="fa fa-child"></i> Child </p>
                <div class="number-incrementer">
                  <div class="input-group">
                    <span class="input-group-btn"><button type="button" class="btn btn-default btn-number" onclick={{action "decrement" "kidCount" }} disabled={{eq kidCount 0}}><img src="/assets/images/icon_minusbtn_grn.png" alt="plusbtn" height="25px" width="25px"></button>
                    </span>
                    <span class="form-control" id="kid">{{kidCount}}</span>
                    <span class="input-group-btn"><button type="button" class="btn btn-default btn-number" onclick={{action "increment" "kidCount" }}><img src="/assets/images/icon_plusbtn_grn.png" alt="plusbtn" height="25px" width="25px"></button>
                    </span>
                  </div>
                </div>
              </div>
              <div id="pet-filter">
                <p class="family" for="name"><i class="fa fa-paw"></i> Pet<span id="text-space"></span></p>
                <div class="number-incrementer">
                  <div class="input-group">
                    <span class="input-group-btn"><button type="button" class="btn btn-default btn-number" onclick={{action "decrement" "petCount" }} disabled={{eq petCount 0}}><img src="/assets/images/icon_minusbtn_grn.png" alt="plusbtn" height="25px" width="25px"></button>
                    </span>
                      <span class="form-control" id="pet">{{petCount}}</span>
                    <span class="input-group-btn"><button type="button" class="btn btn-default btn-number" onclick={{action "increment" "petCount" }}><img src="/assets/images/icon_plusbtn_grn.png" alt="plusbtn" height="25px" width="25px"></button>
                    </span>
                  </div>
                </div>

                <div class="filter-setting">
                  <span class="cancel-btn"><a href="">Cancel</a></span>
                  <span class="apply-btn"><a href="">Apply</a></span>
                </div>
              </div>
            </div>
          </div>
        </legend>
</fieldset>
        <fieldset class="filter-menu listing-menu col-lg-3">
        <legend id="more-filter">
          <div id="more-entries" onclick="">More Filters
          <span class="filter-icon"><i class="fa fa-filter"></i></span>
          </div>
          <div class="filter-pane hide">
            <div class="form-group" id="acceptable-sub">
              <h6><strong> Acceptable Substances</strong></h6>
                <input type="checkbox" id="matching-illicit" name="substances" value="illicit" checked>
                <label for="matching-illicit">Illicit Substances</label>
                <input type="checkbox" id="matching-marijuana" name="substances" value="marijuana">
                <label for="matching-marijuana">Marijuana</label>
                <input type="checkbox" id="matching-alcohol" name="substances" value="alcohol">
                <label for="matching-alcohol">Alcohol</label>
                <input type="checkbox" id="matching-tabacco" name="substances" value="tabacco">
                <label for="matching-tabacco">Tabacco</label>
                <input type="checkbox" id="matching-none" name="substances" value="none">
                <label for="matching-none">None of them</label>
              </div>
              <hr class="more-seperate">
                <div class="form-group" id="acceptable-sub">
              <h6><strong> Connection Level </strong></h6>
              <div class="form-group" id="slideContainer">
                <input type="range" min="0" max="5" value="1" class="slider" id="myRange">
                <ul>
                  <li id="level1">1</li>
                  <li id="level2">2</li>
                  <li id="level3">3</li>
                  <li id="level4">4</li>
                  <li id="level5">5</li>
                </ul>
              </div>
            </div>
              <div class="filter-setting">
                <span class="cancel-btn"><a href="">Cancel</a></span>
                <span class="apply-btn"><a href="">Apply</a></span>
              </div>
            </div>
      </legend>
      </fieldset>
<button id="searchBtn" type="search" name="filterSearch">Search</button>
    </form>

  </section>

    <!-- End Search Section -->

    <!--House List-->
    <main>
      <section id="map">

        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10758.84199694172!2d-122.31991839999999!3d47.61231864999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1516407958676" allowfullscreen>
    </iframe>

      </section>

      <section id="houseList">
        <div class="home-result">
          <h6> Homes Available: 4 </h6>
        </div>
        {{#link-to 'previewpage-matching'}}
          <div class="house" id="house1">
            <div class="house-highlight">
              <p class="location">South Lake Union</p>
              <p class="family"><i class="fa fa-male"></i> 2 <i class="fa fa-child"></i> 1 <i class="fa fa-paw"></i> 1</p>
          </div>
          </div>
        {{/link-to}}

        <div class="house" id="house2">
            <div class="house-highlight">
          <p class="location">International District</p>
          <p class="family"><i class="fa fa-male"></i> 1 <i class="fa fa-paw"></i> 1</p>
        </div>
        </div>

        <div class="house" id="house3">
              <div class="house-highlight">
          <p class="location">Capital Hill</p>
          <p class="family"><i class="fa fa-male"></i> 1 <i class="fa fa-paw"></i>  2</p>
        </div>
      </div>

        <div class="page">
        <span><a href="">1</a></span>
        <span><a href="">2 </a></span>
          <span><a href="">3 </a></span>
            <span><a href="">4 </a></span>
              <span><a href="">5 </a></span>
              <span id="next-page"><a href=""> <i class="fa fa-angle-double-right"></i>

 </a></span>
      </div>
      </section>

    </main>
  </div>
</div>
