<div class="container">
  {{#link-to "auth.index" class="navbar-brand"}}
    <img src="/assets/images/theblockproject_logo_80px.png"
         alt="the-block-project-logo" height="65px" width="65px">
  {{/link-to}}
  <button type="button"
          class="navbar-toggler navbar-toggler-right"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation">
    MENU {{fa-icon "bars"}}
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">

      {{#if currentUser.isAdmin}}
        {{admin/nav-bar-content}}
      {{else if currentUser.isCaseworker}}
        {{caseworker/nav-bar-content}}
      {{else}}
        {{host/nav-bar-content}}
      {{/if}}

      <li class="nav-item">
        <a href="#" class="nav-link" onclick={{action "signOut"}}>SIGN OUT</a>
      </li>
      <li class="nav-item">
        {{#link-to "auth.account" class="nav-link"}}
          {{fa-icon "cog" size="lg"}}
        {{/link-to}}
      </li>
    </ul>
  </div>
</div>
