<div class="input-group">
  <span class="input-group-btn">
    <button type="button"  class="btn btn-default btn-number" onclick={{action 'decrement'}} disabled={{eq value minValue}}>
      {{#if (user-is-type 'host')}}
        <img src="/assets/images/icon_minusbtn_org.png" alt="plusbtn" height="25px" width="25px">
      {{else}}
        <img src="/assets/images/icon_minusbtn_grn.png" alt="plusbtn" height="25px" width="25px">
      {{/if}}
    </button>
  </span>
  <span class="form-control number-input-value">{{value}}</span>
  <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-number" onclick={{action 'increment'}}>
      {{#if (user-is-type 'host')}}
        <img src="/assets/images/icon_plusbtn_org.png" alt="plusbtn" height="25px" width="25px">
      {{else}}
        <img src="/assets/images/icon_plusbtn_grn.png" alt="plusbtn" height="25px" width="25px">
      {{/if}}
    </button>
  </span>
</div>
