<div id={{wrapperId}}>
  <img src={{profileSrc}} role="button"
       alt={{altText}} onclick={{action 'choosePicture'}}>
</div>
<input id="imageUpload" type="file" capture onchange={{action 'onPicture'}}>
