{{#if isHost}}
{{#nav-bar id="profileNav" }}
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'hostprofile1-1'}}YOUR PROFILE{{/link-to}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'community'}}COMMUNITY{{/link-to}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'faqpage-host'}}HELP{{/link-to}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'accountpage-host'}}<i class="fa fa-user-circle-o"></i>{{/link-to}}</a>
  </li>
{{/nav-bar}}
    {{else}}
    {{#nav-bar id="cwkNav-light"}}
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'resident-list'}}MY RESIDENT{{/link-to}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'residentprofile1-1'}}NEW RESIDENT{{/link-to}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'matchingpage-resident'}}FIND A MATCH{{/link-to}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'faqpage-caseworker'}}HELP{{/link-to}}</a>
      </li>
      <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'accountpage-caseworker'}}<i class="fa fa-user-circle-o"></i>{{/link-to}}</a>
      </li>
    {{/nav-bar}}
    {{/if}}

  <!-- Profile Section -->
  <div class="container" id="profile-preview">
    <div class="row">
{{#if isHost}}
      <div class="carousel-section">
        {{#carousel-container transitionInterval=400}}
          {{#carousel-body}}
            {{#carousel-item}}
              <img class="img-responsive" src="/assets/images/bky-sample1.jpg">
            {{/carousel-item}}
            {{#carousel-item}}
              <img class="img-responsive" src="/assets/images/bky-sample3.jpg">
            {{/carousel-item}}
            {{#carousel-item}}
              <img class="img-responsive" src="/assets/images/bky-sample4.jpg">
            {{/carousel-item}}
          {{/carousel-body}}

          {{carousel-arrow direction="left" class="line-arrow left"}} {{carousel-arrow direction="right" class="line-arrow right"}}
        {{/carousel-container}}

      </div>
      {{else if isMatch}}
      <div class="carousel-section">
        {{#carousel-container transitionInterval=400}}
          {{#carousel-body}}
            {{#carousel-item}}
              <img class="img-responsive" src="/assets/images/bky-sample1.jpg">
            {{/carousel-item}}
            {{#carousel-item}}
              <img class="img-responsive" src="/assets/images/bky-sample3.jpg">
            {{/carousel-item}}
            {{#carousel-item}}
              <img class="img-responsive" src="/assets/images/bky-sample4.jpg">
            {{/carousel-item}}
          {{/carousel-body}}

          {{carousel-arrow direction="left" class="line-arrow left"}} {{carousel-arrow direction="right" class="line-arrow right"}}
        {{/carousel-container}}

      </div>
      {{else}}
      {{/if}}
      <!--Carousel Slide Ends Here-->
{{#if isHost}}
      <div class="main-info" id="host-preview">
        <div class="image">
          <img src="/assets/images/hostimg.png" width="125px" alt="">
        </div>
        <div class="content">
          <h5 class="l1">Kim Sherman</h5>
          <h6 class="l2">Female • 40 years old • Housewife</h6>
          <h6 class="l3"> South Lake Union, Seattle • Adult 2 • Kid 2 • Pet 1</h6>
        </div>

        <div class="greeting">
          <p>Hey, gorgeous. I hope I could speard the joy of our backyard to more people!</p>
        </div>
      </div>

      <div class="preview-transportation col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="title">
          <h6>Transportation</h6>
          <ul class="item">
            <li>
              <p> Link</p>
            </li>
            <li>
              <p> Bus: 49, 70</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="preview-environment col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="title">
          <h6>Environment</h6>
          <p class="item">QFC, Public Library, Green Lake Park</p>
        </div>
      </div>

      <div class="preview-lifestyle col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="title">
          <h6>Language Spoken</h6>
          <p class="item"> To be edited </p>
        </div>
        <div class="title">
          <h6>Habit</h6>
          <p class="item"> Hiking </p>
        </div>
        <div class="title">
          <h6>Favorite Food</h6>
          <p class="item"> Pasta </p>
        </div>

        <div class="title">
          <h6>Movie Type</h6>
          <p class="item"> Comics </p>
        </div>
      </div>
      <div class="preview-health col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="title">
          <h6>Mental Illness</h6>
          <p class="item"> None </p>
        </div>
        <div class="title">
          <h6>Medical Family History</h6>
          <p class="item"> Yes. Diabetes </p>
        </div>
        <div class="title">
          <h6>Use Illicit Substance/Drug </h6>
          <p class="item"> Tabacco </p>
        </div>
        <div class="title">
          <h6>Accept Illicit Substance/Drug </h6>
          <p class="item"> Tabacco </p>
        </div>
      </div>

      <div class="preview-expectation col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="title">
          <h6>Expectation</h6>
          <ul class="item">
            <li>
              <p> Let's be a friend! </p>
            </li>
            <li>
              <p id="levels"> Connection Level:</p>
              <span id="level1"></span>
              <span id="level2"></span>
              <span id="level3"></span>
              <span id="level4"></span>
              <span id="level5"></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="preview-question col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="title">
          <h6>Questions</h6>
          <p class="item"> What would make you a day? </p>
        </div>
      </div>
      {{else if isMatch}}
      <div class="main-info" id="host-preview">
        <div class="image">
          <img src="/assets/images/hostimg.png" width="125px" alt="">
        </div>
        <div class="content">
          <h5 class="l1">Kim Sherman</h5>
          <h6 class="l2">Female • 40 years old • Housewife</h6>
          <h6 class="l3"> South Lake Union, Seattle • Adult 2 • Kid 2 • Pet 1</h6>
        </div>

        <div class="greeting">
          <p>Hey, gorgeous. I hope I could speard the joy of our backyard to more people!</p>
        </div>
      </div>

      <div class="preview-transportation col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="title">
          <h6>Transportation</h6>
          <ul class="item">
            <li>
              <p> Link</p>
            </li>
            <li>
              <p> Bus: 49, 70</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="preview-environment col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="title">
          <h6>Environment</h6>
          <p class="item">QFC, Public Library, Green Lake Park</p>
        </div>
      </div>

      <div class="preview-lifestyle col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="title">
          <h6>Language Spoken</h6>
          <p class="item"> To be edited </p>
        </div>
        <div class="title">
          <h6>Habit</h6>
          <p class="item"> Hiking </p>
        </div>
        <div class="title">
          <h6>Favorite Food</h6>
          <p class="item"> Pasta </p>
        </div>

        <div class="title">
          <h6>Movie Type</h6>
          <p class="item"> Comics </p>
        </div>
      </div>
      <div class="preview-health col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="title">
          <h6>Mental Illness</h6>
          <p class="item"> None </p>
        </div>
        <div class="title">
          <h6>Medical Family History</h6>
          <p class="item"> Yes. Diabetes </p>
        </div>
        <div class="title">
          <h6>Use Illicit Substance/Drug </h6>
          <p class="item"> Tabacco </p>
        </div>
        <div class="title">
          <h6>Accept Illicit Substance/Drug </h6>
          <p class="item"> Tabacco </p>
        </div>
      </div>

      <div class="preview-expectation col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="title">
          <h6>Expectation</h6>
          <ul class="item">
            <li>
              <p> Let's be a friend! </p>
            </li>
            <li>
              <p id="levels"> Connection Level:</p>
              <span id="level1"></span>
              <span id="level2"></span>
              <span id="level3"></span>
              <span id="level4"></span>
              <span id="level5"></span>
            </li>
          </ul>
        </div>
      </div>

      {{else}}
      <div class="main-info" id="resident-preview">
        <div class="image">
          <img src="/assets/images/residentProfile.jpg" width="125px" alt="">
        </div>
        <div class="content">
          <h5 class="l1">Nick Rschlebusch</h5>
          <h6 class="l2">Male • 25 yrs old • IT specialist</h6>
          <h6 class="l3"> University District •  1 Pet (Shiba Inu) </h6>
        </div>

        <div class="greeting">
          <p>Hey, gorgeous. I am a burger lover! When you don't see my hand greasy,I am tapping away at keyboards to pursue my computer job in the future. </p>
        </div>
      </div>
      <div class="preview-location col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="title">
          <h6>Neighborhood List</h6>
          <p class="item">University District,  East Lake,  Fremont  </p>

        </div>
      </div>
      <div class="preview-transportation col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="title">
          <h6>Transportation</h6>
          <ul class="item">
            <li>
              <p> Link</p>
            </li>
            <li>
              <p> Bus: 49, 70</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="preview-environment col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="title">
          <h6>Environment</h6>
          <p class="item">QFC, Public Library, Green Lake Park</p>
        </div>
      </div>

      <div class="preview-lifestyle col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="title">
          <h6>Language Spoken</h6>
          <p class="item"> To be edited </p>
        </div>
        <div class="title">
          <h6>Habit</h6>
          <p class="item"> Hiking </p>
        </div>
        <div class="title">
          <h6>Favorite Food</h6>
          <p class="item"> Pasta </p>
        </div>

        <div class="title">
          <h6>Movie Type</h6>
          <p class="item"> Comics </p>
        </div>
      </div>
      <div class="preview-health col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="title">
          <h6>Mental Illness</h6>
          <p class="item"> None </p>
        </div>
        <div class="title">
          <h6>Medical Family History</h6>
          <p class="item"> Yes. Diabetes </p>
        </div>
        <div class="title">
          <h6>Use Illicit Substance/Drug </h6>
          <p class="item"> Tabacco </p>
        </div>
        <div class="title">
          <h6>Accept Illicit Substance/Drug </h6>
          <p class="item"> Tabacco </p>
        </div>
      </div>

      <div class="preview-expectation col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="title">
          <h6>Expectation</h6>
          <ul class="item">
            <li>
              <p> Let's be a friend! </p>
            </li>
            <li>
              <p id="levels"> Connection Level:</p>
              <span id="level1"></span>
              <span id="level2"></span>
              <span id="level3"></span>
              <span id="level4"></span>
              <span id="level5"></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="preview-question col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="title">
          <h6>Questions</h6>
          <p class="item"> What’s your favorite day of the year?  </p>
        </div>
      </div>

      <div class="preview-contact col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="title">
          <h6>Contact</h6>
          <ul class="item">
            <li>
              <p> Email: nickrschlebusch@gmail.com</p>
            </li>
            <li>
              <p> Phone: +1(669)-500-0002</p>
            </li>
          </ul>
        </div>
      </div>
      {{/if}}

  <!--Page Buttons-->
  {{#if isHost}}
    <div id="hostPageButton-shrink">
      {{#link-to 'hostsaving3'}}<button class="edit" name="edit" type="submit" value="host-page1">EDIT</button>{{/link-to}}
    {{#link-to 'thankyoupage-host'}} <button class="submit" name="submit" type="submit" value="thankyou-page">SUBMIT</button>{{/link-to}}
    </div>

{{else if isMatch}}
<div id="residentPageButton-shrink">
    {{#link-to 'matchingpage-resident'}}<button class="back" name="edit" type="submit" value="host-page1"><i class="fa fa-arrow-left" aria-hidden="true"></i>BACK</button>{{/link-to}}
{{#link-to 'thankyoupage-matching'}} <button class="meetHost" name="submit" type="submit" value="meet-host">MEET HOST</button>{{/link-to}}
</div>

    {{else}}
    <!--Page Buttons-->
    <div id="residentPageButton-shrink">
      {{#link-to 'residentprofile3-2'}}<button class="edit" name="edit" type="submit" value="host-page1"><i class="fa fa-arrow-left" aria-hidden="true"></i>BACK</button>{{/link-to}}
    {{#link-to 'thankyoupage-resident'}} <button class="submit" name="submit" type="submit" value="thankyou-page">SUBMIT</button>{{/link-to}}
    </div>

  {{/if}}

</div>
</div>
