{{#nav-bar id="profileNav" }}
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#community">{{#link-to 'hostprofile1-1'}}YOUR PROFILE{{/link-to}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#community">{{#link-to 'community'}}COMMUNITY{{/link-to}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#help">{{#link-to 'faqpage-host'}}HELP{{/link-to}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#accountpage-host">{{#link-to 'accountpage-host'}}<i class="fa fa-user-circle-o"></i>{{/link-to}}</a>
  </li>
{{/nav-bar}}

  <!-- Profile Section -->

  <div class="container" id="host-profile">
    <div class="row">
      <div class="col-lg-7 col-md-12 col-sm-12 col-12 " id="left-column">
        <form action="#" id={{formName}}>
          <fieldset>
            {{#if isHost}}
                  <legend class="hostHeading">STEP 2: Share about your backyard</legend>
                  {{else}}
                  <legend class="residentHeading">STEP 2: Share your thought about the backyard</legend>
                  {{/if}}
            <div class="form-group">
              <h6>Upload the photos of your backyard</h6>
              <div id="backyard-container">
                <img id="backyardImage" src= {{profileSrc_1}} role="button" onclick= {{action 'chooseProfilePic' '1' }} />
              </div>
              <input id="imageUpload_1" type="file" name="profile_photo" placeholder="Photo" required="" capture onchange= {{action 'onProfilePic' '1' }}>
              <div id="backyard-container">
                <img id="backyardImage" src= {{profileSrc_2}} role="button" onclick= {{action 'chooseProfilePic' '2' }} />
              </div>
              <input id="imageUpload_2" type="file" name="profile_photo" placeholder="Photo" required="" capture onchange= {{action 'onProfilePic' '2' }}>
              <div id="backyard-container">
                <img id="backyardImage" src= {{profileSrc_3}} role="button" onclick= {{action 'chooseProfilePic' '3' }} />
              </div>
              <input id="imageUpload_3" type="file" name="profile_photo" placeholder="Photo" required="" capture onchange= {{action 'onProfilePic' '3'}}>
              <div id="backyard-container">
                <img id="backyardImage" src= {{profileSrc_4}} role="button" onclick= {{action 'chooseProfilePic' '4' }} />
              </div>
              <input id="imageUpload_4" type="file" name="profile_photo" placeholder="Photo" required="" capture onchange= {{action 'onProfilePic' '4' }}>
            </div>
      </fieldset>
      </form>
    </div>



      <div class="col-lg-5 col-md-12 col-sm-12 col-12" id="right-column">
        <div class="notebox" id="photoSample">
          <h6 class="note">
        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>Ideas to take backyard photos:</h6>
          <ul>
              <li>Show the place where the BLOCK Home will be located</li>
              <li>Find a spot that can take the whole backyard view</li>
              <li>Share a family photo taken in the backyard</li>
              <li>Take photos that are at least 1024 x 683px</li>
          </ul>

        </div>
      </div>
    </div>
  </div>
  <!-- Footer Section -->
  <footer class="profile">
    <!--Page Buttons-->
    <div id="hostPageButton">
      {{#link-to 'hostprofile2-2'}}<button class="backpage" name="next" type="submit" value="host-page1"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</button>{{/link-to}}
      {{#link-to 'hostsaving2'}}<button class="nextpage" name="next" type="submit" value="host-page1">Next</button>{{/link-to}}
    </div>
    <!--Preogress Wrapper-->
    <div class="progress-wrap">
      <div class="progress">
        <div id="hostProgressBar" class="progress-bar"  role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:70%">
          <span class="sr-only">70%</span>
        </div>
      </div>
    </div>


  </footer>
