{{#if isHost}}
{{#nav-bar userService.isHost}}
{{!-- {{#nav-bar id="hostNav"}} --}}
  {{!-- <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'hostprofile1-1'}}MY PROFILE{{/link-to}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'community'}}COMMUNITY{{/link-to}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'faqpage-host'}}HELP{{/link-to}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'accountpage-host'}}<i class="fa fa-cog fa-lg"></i>{{/link-to}}</a>
  </li> --}}
{{/nav-bar}}

    {{else}}
    {{#nav-bar userService.isCaseworker}}
    {{!-- {{#nav-bar id="cwkNav"}} --}}
    {{!-- <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'homepage-caseworker'}}MY RESIDENT{{/link-to}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'residentprofile1-1'}}NEW RESIDENT{{/link-to}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'matchingpage-resident'}}FIND A MATCH{{/link-to}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'faqpage-caseworker'}}HELP{{/link-to}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#account-setting">{{#link-to 'accountpage-caseworker'}}<i class="fa fa-cog fa-lg"></i>{{/link-to}}</a>
    </li> --}}
    {{/nav-bar}}
    {{/if}}

<!-- Profile Section -->

{{!-- <div class="container" id="host-profile"> --}}
<div class="container" id="host-profile">
  <div class="row" id="hostProfile">
    <div class="col-lg-7 col-md-12 col-sm-12 col-12 " id="left-column">

      <form action="#" id= {{formName}}>
        <fieldset>
    {{#if isHost}}
          <legend class="hostHeading">STEP 1: Say HI, and introduce yourself!</legend>
          {{else}}
          <legend class="residentHeading">STEP 1: Say HI, and introduce yourself!</legend>
          {{/if}}
          <div class="form-group">
            <h6>Upload Your Profile Photo</h6>
            <div id="profile-container">
              <img id="profileImage" src= {{profileSrc}} role="button" onclick= {{action 'chooseProfilePic'}} />

            </div>
            <input id="imageUpload" type="file" name="profile_photo" placeholder="Photo" required="" capture onchange= {{action 'onProfilePic'}}>
          </div>

          {{#if isHost}}
            <div class="form-group">
              <h6>Greet Your New Neighbors</h6>
              <textarea name="greetings" form="hostform" placeholder="Write a sentence to welcome your future neighbors..."></textarea>
            </div>

          {{else}}

            <div class="form-group" id="email">
              <h6>Email (Optional)</h6>
              <input type="email" name="email">
            </div>
            <div class="form-group" id="tel">
              <h6>Telephone (Optional)</h6>
              <input type="tel" name="tel">
            </div>
          {{/if}}

        </fieldset>
      </form>
    </div>
  {{#if isHost}}
    <div class="col-lg-5 col-md-12 col-sm-12 col-12" id="right-column">
      <div class="notebox" id="profilephoto">
        <h6 class="note">
      <i class="fa fa-pencil" aria-hidden="true"></i>How to make a good quality photo:</h6>
        <ul>
          <li>Do bring your smile</li>
          <li>Do take it under natural light</li>
          <li>Do upload photo at least 170 x 170px</li>
        </ul>

      </div>
      <div class="notebox" id="greetings">
        <h6 class="note">
      <i class="fa fa-pencil" aria-hidden="true"></i>Ideas to write a greeting:</h6>
        <ul>
          <li>General introduction of yourself and your neighborhood with some fun facts</li>
          <li>Reasons of joining the program</li>
          <li>Expect of being a host</li>
        </ul>

      </div>
    </div>

          {{else}}
            <div class="col-lg-5 col-md-12 col-sm-12 col-12" id="right-column">
          <div class="notebox" id="profilephoto">
            <h6 class="note">
          <i class="fa fa-pencil" aria-hidden="true"></i>How to make a good quality photo:</h6>
            <ul>
              <li>Do bring your smile</li>
              <li>Do take it under natural light</li>
              <li>Do upload photo at least 170 x 170px</li>
            </ul>

          </div>
        </div>
{{/if}}
  </div>
</div>

<!-- Footer Section -->

<footer class="profile">
{{#if isHost}}
  <!--Page Buttons-->
  <div id="hostPageButton">
    {{#link-to 'homepage-host'}}<button class="backpage" name="next" type="submit" value="host-page1"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</button>{{/link-to}}
    {{#link-to 'hostprofile1-2'}}<button class="nextpage" name="next" type="submit" value="host-page1">Next</button>{{/link-to}}
  </div>
  <!--Preogress Wrapper-->
  <div class="progress-wrap">
    <div class="progress">
      <div id="hostProgressBar" class="progress-bar"  role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
        <span class="sr-only">10%</span>
      </div>
    </div>
  </div>

  {{else}}
  <!--Page Buttons-->
  <div id="residentPageButton">
    {{#link-to 'homepage-caseworker'}}<button class="backpage" name="next" type="submit" value="host-page1"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</button>{{/link-to}}
    {{#link-to 'residentprofile1-2'}}<button class="nextpage" name="next" type="submit" value="host-page1">Next</button>{{/link-to}}
  </div>
  <!--Preogress Wrapper-->
  <div class="progress-wrap">
    <div class="progress">
      <div id="residentProgressBar" class="progress-bar"  role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
        <span class="sr-only">10%</span>
      </div>
    </div>
  </div>
{{/if}}
</footer>
