<div class="container view-profile">
  <div class="row summary">
    <div class="col-2">
      <img
        class="profile-pic"
        src={{or @profile.profilePic "/assets/images/icon_photoPreview.png"}}
        width="125px"
        alt=""
        data-test-profile-pic
      >
    </div>
    <div class="col-8 info">
      <h5 data-test-name>{{@profile.fullName}}</h5>
      <h6>
        <span data-test-gender>{{gender-display @profile.gender}}</span>
        {{#if @profile.yearsOld}}
          • <span data-test-age>{{@profile.yearsOld}}</span> years old
        {{/if}}
        • <span data-test-occupation>{{@profile.occupation}}</span>
      </h6>
      <h6>
        <span data-test-email>{{@profile.email}}</span>
        •
        <span data-test-phone>{{@profile.phoneNumber}}</span>
      </h6>
      <h6 class="highlight">
        {{#if @profile.kidCount}}
          • Kids <span data-test-kid-count>{{@profile.kidCount}}</span>
        {{/if}}
        {{#if @profile.petCount}}
          • Pets <span data-test-pet-count>{{@profile.petCount}}</span>
          {{#if @profile.petBreed}}
            • <span data-test-pet-breed>{{@profile.petBreed}}</span>
          {{/if}}
        {{/if}}
      </h6>
    </div>
  </div>

  <div class="row">
    <div class="preview-section col-12">
      <h6>Neighborhood List</h6>
      <p data-test-neighborhoods>{{@profile.neighborhoodsDisplay}}</p>
    </div>
  </div>

  <div class="row">
    <div class="preview-section col-md-6">
      <h6>Transportation</h6>
      <ul>
        <li>Link</li>
        <li>Bus: 49, 70</li>
      </ul>
    </div>
    <div class="preview-section col-md-6">
      <h6>Environment</h6>
      <p data-test-environment>{{@profile.neighborhoodFeatures}}</p>
    </div>

    <div class="row divider-above">
      <div class="preview-section col-md-6">
        <h6>Language Spoken</h6>
        <p data-test-languages>{{@profile.languages}}</p>

        <h6>Habit</h6>
        <p data-test-free-time>{{@profile.freeTime}}</p>

        <h6>Favorite Food</h6>
        <p data-test-favorite-food>{{@profile.favoriteFood}}</p>

        <h6>Movie Type</h6>
        <p data-test-movie-genre>{{movie-genre-display @profile.movieGenre}}</p>
      </div>

      <div class="preview-section col-md-6">
        <h6>Use Illicit Substance/Drug</h6>
        <p data-test-used-substances>{{substances-display @profile.mySubstances}}</p>

        <h6>Accept Illicit Substance/Drug </h6>
        <p data-test-acceptable-substances>{{substances-display @profile.hostSubstances}}</p>
      </div>
    </div>

    <div class="row divider-above">
      <div class="preview-section col-12">
        <h6>Expectation</h6>
        <ul>
          <li>Let's be friends!</li>
          <li>
            Connection Level:
            <span class="level on"></span>
            <span class="level on"></span>
            <span class="level on"></span>
            <span class="level on"></span>
            <span class="level"></span>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="preview-section question col-12">
        <h6>Question</h6>
        <p data-test-question>{{@profile.question}}</p>
      </div>
    </div>
  </div>
</div>

{{profile-page/footer
  backRoute="auth.caseworker.resident.question"
  nextRoute="auth.caseworker.index"
  nextLabel="Submit"
}}
