<div class="container h-100">
  <div class="row h-75 admin-summary">
    <div class="col-lg-4 item">
      <h1><b>{{model.hosts}}</b></h1>
      <h5>Hosts</h5>
      {{#link-to "auth.admin.host-list"}}<p>See Details</p>{{/link-to}}
    </div>
    <div class="col-lg-4 item">
      <h1><b>{{model.residents}}</b></h1>
      <h5>Residents</h5>
      {{#link-to "auth.admin.resident-list"}}<p>See Details</p>{{/link-to}}
    </div>
    <div class="col-lg-4 item">
      <h1><b>10</b></h1>
      <h5>Matched</h5>
      <p>See Details</p>
    </div>
  </div>
  <div class="row h-25 text-center">
    <div class="col-lg-12">
      <button onclick={{action openModal "inviteUser" (hash type="host")}}>Invite new user</button>
    </div>
  </div>
</div>

{{#if (eq modalName "inviteUser")}}
  {{#modal-dialog
    onClose=closeModal
    translucentOverlay=true
  }}
    <h2>Invite User</h2>
    {{#let inviteUser as |task|}}
      <form onsubmit={{prevent-default (perform task)}}>
        <div>
          <label>First name</label>
          <input
            type="text"
            required
            oninput={{action (mut modalContext.givenName) value="target.value"}}>
        </div>
        <div>
          <label>Last name</label>
          <input
            type="text"
            required
            oninput={{action (mut modalContext.familyName) value="target.value"}}>
        </div>
        <div>
          <label>Email address</label>
          <input
            type="email"
            required
            oninput={{action (mut modalContext.email) value="target.value"}}>
        </div>
        <div>
          <label>Type</label>
          <select onchange={{action (mut modalContext.type) value="target.value"}}>
            <option value="host" selected={{eq modalContext.type "host"}}>host</option>
            <option value="caseworker" selected={{eq modalContext.type "caseworker"}}>caseworker</option>
            <option value="admin" selected={{eq modalContext.type "admin"}}>admin</option>
          </select>
        </div>
        <input
          type="button"
          value="Cancel"
          onclick={{closeModal}}
          disabled={{task.isRunning}}>
        <input
          type="submit"
          value={{if task.isRunning "Inviting..." "Invite"}}
          disabled={{task.isRunning}}>
      </form>
    {{/let}}
  {{/modal-dialog}}
{{/if}}
