<div class="container">
  <ul class="person-list-nav">
    <li>{{#link-to "auth.caseworker.resident-list"}}Residents{{/link-to}}</li>
    <li>{{#link-to "auth.caseworker.host-list"}}Hosts{{/link-to}}</li>
    {{#if this.residents}}
      <li class="float-right">
        {{#link-to "auth.caseworker.new-resident" class="person-list-add"}}
          Add resident
        {{/link-to}}
      </li>
    {{/if}}
  </ul>

  {{#if this.residents}}
    {{people-table
      columns=this.columns
      people=this.residents
      onRowClick=(action "viewResident")
      tableActions=(hash
        edit=(action "editResident")
        delete=(action "promptDeleteResident")
      )
    }}
  {{else}}
    <div class="person-list-empty-hint">
      <div class="empty-heading">Welcome to The Block Project matchmaking platform!</div>
      <p>
        We are grateful to have you as a part our community.<br>
        To start, add your first resident.
      </p>
      {{#link-to "auth.caseworker.new-resident" class="add-button"}}
        Add resident
      {{/link-to}}
    </div>
  {{/if}}
</div>

{{#if (eq modalName "deleteResident")}}
  {{#modal-dialog
    onClose=closeModal
    translucentOverlay=true
    onClickOverlay=(action "doNothing")
  }}
    <h2>Delete {{this.modalContext.row.fullName}}?</h2>

    <div>
      Are you sure you want to delete {{this.modalContext.row.fullName}}'s
      resident profile? This cannot be undone.
    </div>

    <button
      class="btn btn-default"
      onclick={{action this.closeModal}}
      disabled={{this.deleteProfile.isRunning}}
    >
      cancel
    </button>
    <button
      class="btn btn-danger"
      onclick={{perform this.deleteProfile this.modalContext}}
      disabled={{this.deleteProfile.isRunning}}
    >
      yes, delete
    </button>
  {{/modal-dialog}}
{{/if}}
