{{#component
  @profile-form
  class="bio-form"
  onsubmit=@onsubmit
as |form|
}}
  <legend>Start with a hello- Basics</legend>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label" for="dob-day">Birth Date</label>
        {{date-picker
          date=@changeset.birthdate
          onchange=(action (mut @changeset.birthdate))
          data-test-birthdate=true
        }}
      </div>
    </div>
    <div class="col-sm-6" data-test-gender>
      {{#form.group label="Gender"}}
        {{!-- template-lint-disable attribute-indentation --}}
        {{! seem to be a bug in ember-template-lint flagging indentation}}
        {{#power-select
          placeholder="select"
          options=this.genders
          selected=this.selectedGender
          searchEnabled=false
          renderInPlace=true
          onchange=(action (mut @changeset.gender) value="value")
        as |gender|
        }}
          {{gender.label}}
        {{/power-select}}
      {{/form.group}}
    </div>
  </div>
  {{#if @isHost}}
    {{#form.group label="Occupation" as |group|}}
      {{group.input
        placeholder="Musician, Engineer, Social Caseworker, Dentist..."
        value=@changeset.occupation
        data-test-occupation=true
      }}
    {{/form.group}}
  {{/if}}
  {{#if (not @isHost)}}
    {{#form.group label="Future Aspiration" as |group|}}
      {{group.input
        placeholder="Inspirational artist, Guitarist-to-be, Gardener..."
        value=@changeset.occupation
        data-test-occupation=true
      }}
    {{/form.group}}
  {{/if}}
  {{#form.group label="Languages Spoken" as |group|}}
    {{group.input
      placeholder="English, Spanish, Sign Language..."
      value=@changeset.languages
      data-test-languages=true
    }}
  {{/form.group}}
  <div class="form-group">
    <label class="control-label">Family Size</label>
    {{#if @isHost}}
      <span class="family-label">Adult</span>
      {{number-input
        value=@changeset.adultCount
        minValue=1
        onChange=(action (mut @changeset.adultCount))
        data-test-adult-count=true
      }}
    {{/if}}

    <span class="family-label">Kid</span>
    {{number-input
      value=@changeset.kidCount
      onChange=(action (mut @changeset.kidCount))
      data-test-kid-count=true
    }}

    <span class="family-label">Pet</span>
    {{number-input
      value=@changeset.petCount
      onChange=(action (mut @changeset.petCount))
      data-test-pet-count=true
    }}

    {{#if (not @isHost)}}
      {{input
        class="pet-breed"
        placeholder="Pet breed"
        value=@changeset.petBreed
        data-test-pet-breed=true
      }}
    {{/if}}
  </div>
{{/component}}
