<input
  type="checkbox"
  id={{this.inputId}}
  class="d-none"
  checked={{@checked}}
  disabled={{@disabled}}
  onchange={{@onchange}}>
<label
  for={{this.inputId}}
  class={{concat "check-box-label" (if @checked " checked")}}
  data-test-check-box
>
  {{@label}}
</label>
