<div class="nav-buttons">
  {{#link-to @backRoute}}
    <button class="btn nav-button back" data-test-back>
      {{fa-icon "arrow-left" class="back-arrow"}}Back
    </button>
  {{/link-to}}
  {{#if @nextAction}}
    <button
      class="btn btn-primary nav-button next"
      onclick={{@nextAction}}
      data-test-next
    >
      {{if @nextLabel @nextLabel "Next"}}
    </button>
  {{else}}
    {{#link-to
      @nextRoute
      tagName="button"
      class="btn btn-primary nav-button next"
      data-test-next=true
    }}
      {{if @nextLabel @nextLabel "Next"}}
    {{/link-to}}
  {{/if}}
</div>

{{#if @percent}}
  <div class="footer-progress">
    {{!-- template-lint-disable inline-styles --}}
    <div
      class="bar"
      role="progressbar"
      aria-valuenow={{@percent}}
      aria-valuemin="0"
      aria-valuemax="100"
      style={{this.progressBarStyle}}
    >
      <span class="sr-only">{{@percent}}%</span>
    </div>
  </div>
{{/if}}