{{#nav-bar}}{{/nav-bar}}

<div class="container" id="host-profile">
  <div class="row">
    <div class="col-lg-7 col-md-12 col-sm-12 col-12" id="left-column">
      <form action="#" id="hostform">
        <fieldset>
          {{#if (user-is-type 'host')}}
            <legend class="hostHeading">
              STEP 2: Share about your backyard
            </legend>
            <div id="host2-1">
              <div class="form-group">
                <h6>Neighborhood</h6>
                {{select-neighborhood class='profile-select-neighborhood'}}
              </div>
              <div class="form-group">
                <div class="address" id="host-address">
                  <h6>Street Address</h6>
                  <input type="text" name="address" placeholder="Please enter your address">
                </div>
              </div>

              {{profile-transportation}}
              {{profile-environment}}
            </div>
          {{else}}
            <legend class="residentHeading">
              STEP 2: Share your thought about the backyard
            </legend>
            <div id="resident2-1">
              <div class="form-group" >
                <h6>Choose top 3 neighborhood you are looking for</h6>
                {{select-neighborhood class='profile-select-neighborhood'}}
                {{select-neighborhood class='profile-select-neighborhood'}}
                {{select-neighborhood class='profile-select-neighborhood'}}
              </div>

              {{profile-transportation}}
              {{profile-environment}}
            </div>
          {{/if}}
        </fieldset>
      </form>
    </div>
  {{#if (user-is-type 'host')}}
    <div class="col-lg-5 col-md-12 col-sm-12 col-12" id="right-column">
      <div class="notebox">
        <h6 class="note">
          <i class="fa fa-shield" aria-hidden="true"></i>Worried about the privacy?
        </h6>
        We do care about privacy! So your detailed address will only be appeared to the resident who shows interested to meet and you hit “Let’s meet” after viewing their profile.<br>
        Thus, the public transportation and neighborhood environment are two key decision points for a resident to make decision.
      </div>
    </div>
  {{/if}}
  </div>
</div>

{{profile-footer
  backRoute=(if (user-is-type 'host') 'auth.profile.1-save' 'auth.profile.1-4')
  nextRoute=(if (user-is-type 'host') 'auth.profile.2-2' 'auth.profile.3-1')
  percent=50}}
