{{#profile-page
  changeset=this.changeset
  backRoute="auth.caseworker.resident.about"
  nextRoute="auth.caseworker.resident.question"
as |page|
}}
  {{#page.left-column}}
    {{#page.profile-form as |form|}}
      <legend>
        STEP 2: Share your thoughts about the backyard
      </legend>

      {{#form.group label="Choose top 3 neighborhoods you are looking for"}}
        <span data-test-neighborhood1>
          {{select-neighborhood
            neighborhood=this.neighborhood1
            disabledOptions=this.disabledNeighborhoods1
            onchange=(action (mut this.neighborhood1))
          }}
        </span>
        <span data-test-neighborhood2>
          {{select-neighborhood
            neighborhood=this.neighborhood2
            disabled=(not this.neighborhood1)
            disabledOptions=this.disabledNeighborhoods2
            onchange=(action (mut this.neighborhood2))
          }}
        </span>
        <span data-test-neighborhood3>
          {{select-neighborhood
            neighborhood=this.neighborhood3
            disabled=(not this.neighborhood2)
            disabledOptions=this.disabledNeighborhoods3
            onchange=(action (mut this.neighborhood3))
          }}
        </span>
      {{/form.group}}

      {{#form.group label="Public Transportation"}}
        <div class="transit row">
          <div class="col-3">
            <span class="link-label">Link</span>
            {{profile-page/check-box
              label="Light rail"
              checked=this.changeset.lightRail
              onchange=(action (mut this.changeset.lightRail) (not this.changeset.lightRail))
            }}
          </div>
          <div class="col-9">
            <span class="bus-label">Buses</span>
            {{input
              class="busses"
              value=this.changeset.busses
              placeholder="List bus numbers (e.g. 70, 11)"
              data-test-busses=true
            }}
          </div>
        </div>
      {{/form.group}}

      {{#form.group label="What amenities/stores do you need nearby?" as |group|}}
        {{group.input
          placeholder="e.g. supermarket, park, library, church"
          value=this.changeset.neighborhoodFeatures
          data-test-environment=true
        }}
      {{/form.group}}
    {{/page.profile-form}}
  {{/page.left-column}}
  {{#page.right-column}}
  {{/page.right-column}}

  {{page.footer percent=62}}
{{/profile-page}}
