{{#profile-page
  changeset=this.changeset
  backRoute="auth.host.review1"
  nextRoute="auth.host.activities"
as |page|
}}
  {{#page.left-column}}
    {{#page.profile-form as |form|}}
      <legend>
        Share about your backyard - Location
      </legend>

      {{#form.group label="Neighborhood"}}
        <span data-test-neighborhood>
          {{select-neighborhood
            neighborhood=this.changeset.neighborhood
            onchange=(action (mut this.changeset.neighborhood))
          }}
        </span>
      {{/form.group}}

      {{#form.group label="Street Address" as |group|}}
        {{group.input
          placeholder="Please enter your address"
          value=this.changeset.address
          data-test-street-address=true
        }}
      {{/form.group}}

      {{#form.group label="Public Transportation"}}
        <div class="transit row">
          <div class="col-6" data-test-light-rail-station>
            {{#power-select
              placeholder="Choose accessible light rail station"
              options=this.lightRailStations
              selected=this.selectedLightRailStation
              searchEnabled=false
              renderInPlace=true
              onchange=(action (mut this.changeset.lightRailStation) value="value")
            as |station|
            }}
              {{station.label}}
            {{/power-select}}
          </div>
          <div class="col-6">
            {{input
              class="busses"
              value=this.changeset.busses
              placeholder="List accessible bus numbers (e.g. 70, 11)"
              data-test-busses=true
            }}
          </div>
        </div>
      {{/form.group}}

      {{#form.group label="What amenities/stores are nearby?" as |group|}}
        {{group.input
          placeholder="e.g. supermarket, park, library, church"
          value=this.changeset.neighborhoodFeatures
          data-test-environment=true
        }}
      {{/form.group}}
    {{/page.profile-form}}
  {{/page.left-column}}
  {{#page.right-column}}
    {{#page.notebox icon="shield" heading="Worried about the privacy?"}}
      We do care about privacy! So your detailed address will only be appeared
      to the resident who shows interested to meet and you hit “Let’s meet”
      after viewing their profile.<br>
      Thus, the public transportation and neighborhood environment are two key
      decision points for a resident to make decision.
    {{/page.notebox}}
  {{/page.right-column}}

  {{page.footer percent=50}}
{{/profile-page}}
