{{#profile-page
  changeset=this.changeset
  backRoute="auth.host.activities"
  nextRoute="auth.host.review2"
as |page|
}}
  {{#page.left-column}}
    {{#page.profile-form as |form|}}
      <legend>
        STEP 2: Share about your backyard
      </legend>

      {{#form.group label="Upload the photos of your backyard"}}
        {{picture-uploader
          class="backyard-pic-uploader"
          altText="backyard picture"
          src=(or this.photo1.url this.emptySrc)
          onPicture=(action (mut photo1.blob))
        }}
        {{picture-uploader
          class="backyard-pic-uploader"
          altText="backyard picture"
          src=(or this.photo2.url this.emptySrc)
          onPicture=(action (mut photo2.blob))
        }}
        {{picture-uploader
          class="backyard-pic-uploader"
          altText="backyard picture"
          src=(or this.photo3.url this.emptySrc)
          onPicture=(action (mut photo3.blob))
        }}
        {{picture-uploader
          class="backyard-pic-uploader"
          altText="backyard picture"
          src=(or this.photo4.url this.emptySrc)
          onPicture=(action (mut photo4.blob))
        }}
      {{/form.group}}
    {{/page.profile-form}}
  {{/page.left-column}}
  {{#page.right-column}}
    {{#page.notebox icon="lightbulb-o" heading="Ideas to take backyard photos:"}}
      <ul>
        <li>Show the place where the BLOCK Home will be located</li>
        <li>Find a spot that can take the whole backyard view</li>
        <li>Share a family photo taken in the backyard</li>
        <li>Take photos that are at least 1024 x 683px</li>
      </ul>
    {{/page.notebox}}
  {{/page.right-column}}

  {{page.footer percent=70}}
{{/profile-page}}
