{{#profile-page
  changeset=@changeset
  backRoute="auth.caseworker.index"
  nextRoute=@nextRoute
  nextAction=@nextAction
  prepareChangeset=(perform this.prepareChangeset)
as |page|
}}
  {{#page.left-column}}
    {{#page.profile-form as |form|}}
      <legend>Start with a hello - Contact
      </legend>
      {{#form.group label="Upload Your Profile Photo"}}
        {{picture-uploader
          class="profile-pic-uploader"
          altText="profile picture"
          src=(or this.profilePic.url "/assets/images/icon_photoPreview.png")
          onPicture=(action (mut this.profilePic.blob))
          data-test-profile-pic=true
        }}
      {{/form.group}}

      <div class="row">
        <div class="col-sm-6">
          {{#form.group label="First Name" as |group|}}
            {{group.input
              value=@changeset.firstName
              data-test-first-name=true
            }}
          {{/form.group}}
        </div>
        <div class="col-sm-6">
          {{#form.group label="Last Name" as |group|}}
            {{group.input
              value=@changeset.lastName
              data-test-last-name=true
            }}
          {{/form.group}}
        </div>
      </div>
      {{#form.group label="Email" as |group|}}
        {{group.input
          type="email"
          value=@changeset.email
          data-test-email=true
        }}
      {{/form.group}}
      {{#form.group label="Phone Number" as |group|}}
        {{group.input
          type="tel"
          value=@changeset.phoneNumber
          data-test-phone-number=true
        }}
      {{/form.group}}
    {{/page.profile-form}}
  {{/page.left-column}}
  {{#page.right-column}}
    {{page.photo-notebox}}
  {{/page.right-column}}

  {{page.footer percent=12}}
{{/profile-page}}
