{{#admin-caseworker-list-code}}

{{#nav-bar id="adminNav"}}
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'homepage-admin'}}DASHBOARD{{/link-to}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'admin-host-list'}}MANAGEMENT{{/link-to}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'accountpage-admin'}}<i class="fa fa-user-circle-o"></i>{{/link-to}}</a>
  </li>
{{/nav-bar}}
<!-- Profile Section -->
<div class="container" id="admin-resident-list">
  <div class="row">
    <ul id="admin-subnav">
          <li >{{#link-to 'admin-host-list'}}Hosts{{/link-to}}</li>
                <li >{{#link-to 'admin-resident-list'}}Residents{{/link-to}}</li>
              <li class="active">{{#link-to 'admin-caseworker-list'}}Caseworkers{{/link-to}} </li>
    </ul>
    <div class="list">
      <table id="host-table">
        <thead>
          <tr>
            <th colspan="2">
              <input
                type="text"
                id="host-name-input"
                value={{filterText}}
                oninput={{action (mut filterText) value='target.value'}}
                placeholder="Search for names"
                title="Type in a name">
            </th>
            <th> Agency <button class="chevron-down" onclick={{action (mut caseworkersSort) 'agency'}}><i class="fa fa-chevron-down" aria-hidden="true"></i></button> </th>
            <th> Email <button class="chevron-down" onclick={{action (mut caseworkersSort) 'email'}}><i class="fa fa-chevron-down" aria-hidden="true"></i></button> </th>
            <th> Mobile <button class="chevron-down" onclick={{action (mut caseworkersSort) 'mobile'}}><i class="fa fa-chevron-down" aria-hidden="true"></i></button>  </th>
            <th> Total <br>Residents <button class="chevron-down" onclick={{action (mut caseworkersSort) 'totalnumber'}}><i class="fa fa-chevron-down" aria-hidden="true"></i></button>  </th>
              <th> Matched <button class="chevron-down" onclick={{action (mut caseworkersSort) 'matched'}}><i class="fa fa-chevron-down" aria-hidden="true"></i></button>  </th>
          </tr>
        </thead>
        <tbody>
          {{#each caseworkers as |cwk|}}
            <tr>
                <td> <img id="cwkimg" src={{cwk.image}} alt=""> </td>
              <td> <a href="#">{{cwk.name}}</a> </td>
              <td>{{cwk.agency}}</td>
              <td>{{cwk.email}}</td>
              <td>{{cwk.mobile}}</td>
              <td>{{cwk.totalnumber}}</td>
              <td>{{cwk.matched}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

{{/admin-caseworker-list-code}}
