{{#admin-host-list-code}}

{{#nav-bar id="adminNav-dark"}}
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'homepage_admin'}}DASHBOARD{{/link-to}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'admin-host-list'}}MANAGEMENT{{/link-to}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#">{{#link-to 'accountpage-admin'}}<i class="fa fa-user-circle-o"></i>{{/link-to}}</a>
  </li>
{{/nav-bar}}
<!-- Profile Section -->
<div class="container" id="admin-resident-list">
  <div class="row">
    <ul id="admin-subnav">
          <li>{{#link-to 'admin-host-list'}}Hosts{{/link-to}} </li>
            <li class="active">{{#link-to 'admin-resident-list'}}Residents{{/link-to}}</li>
              <li>{{#link-to 'admin-caseworker-list'}}Caseworkers{{/link-to}}</li>
    </ul>
    <div class="list">
      <table id="host-table">
        <thead>
          <tr>
            <th colspan="2">
              <input
                type="text"
                id="host-name-input"
                value={{filterText}}
                oninput={{action (mut filterText) value='target.value'}}
                placeholder="Search for names"
                title="Type in a name">
            </th>
            <th> Location <button class="chevron-down" onclick={{action (mut residentsSort) 'location'}}><i class="fa fa-chevron-down" aria-hidden="true"></i></button> </th>
            <th> Occupation <button class="chevron-down" onclick={{action (mut residentsSort) 'occupation'}}><i class="fa fa-chevron-down" aria-hidden="true"></i></button> </th>
            <th> Onboard <button class="chevron-down" onclick={{action (mut residentsSort) 'joined:desc'}}><i class="fa fa-chevron-down" aria-hidden="true"></i></button>  </th>
            <th> Status <button class="chevron-down" onclick={{action (mut residentsSort) 'status'}}><i class="fa fa-chevron-down" aria-hidden="true"></i></button>  </th>
            <th> Note </th>
          </tr>
        </thead>
        <tbody>
          {{#each residents as |res|}}
            <tr>
              <td> <img id="resident1" src={{res.image}} alt="nick-rschlebusch"> </td>
              <td> <a href="#">{{res.name}}</a> </td>
              <td>{{res.location}}</td>
              <td>{{res.occupation}}</td>
              <td>{{moment-from-now res.joined}}</td>
              <td>{{res.status}}</td>
              <td> <button id="note-icon" onclick="myFunction()"><i class="fa fa-sticky-note" aria-hidden="true"></i> </button></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

{{/admin-host-list-code}}
