{{#hostprofile2-3-code as |code|}}
  {{#nav-bar id="hostProfileNav" }}
    <li class="nav-item dropdown">
      <a href="#hostMainPage" class="dropdown-toggle nav-link js-scroll-trigger" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">YOUR PROFILE</a>
      <ul class="dropdown-menu">
        <li><a href="#howItWorks" class="nav-link js-scroll-trigger"> HOW IT WORKS</a> </li>
        <li role="separator" class="divider"></li>
        <li><a href="#buildProfile" class="nav-link js-scroll-trigger"> BUILD PROFILE</a> </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#community">COMMUNITY</a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#help">HELP</a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="#account-setting"><i class="fa fa-user-circle-o"></i></a>
    </li>
  {{/nav-bar}}

  <!-- Profile Section -->

  <div class="container" id="host-profile">
    <div class="row">
      <div class="col-lg-7 col-md-12 col-sm-12 col-12 " id="left-column">
        <form action="#" id="hostform">
          <fieldset>
            <legend>STEP 2: Share about your backyard</legend>
            <div class="form-group">
              <h6>Upload the photos of your backyard</h6>
              <div id="backyard-container">
                <img id="backyardImage" src= {{code.profileSrc_1}} role="button" onclick= {{action 'chooseProfilePic' '1' target=code}} />
              </div>
              <input id="imageUpload_1" type="file" name="profile_photo" placeholder="Photo" required="" capture onchange= {{action 'onProfilePic' '1' target=code}}>
              <div id="backyard-container">
                <img id="backyardImage" src= {{code.profileSrc_2}} role="button" onclick= {{action 'chooseProfilePic' '2' target=code}} />
              </div>
              <input id="imageUpload_2" type="file" name="profile_photo" placeholder="Photo" required="" capture onchange= {{action 'onProfilePic' '2' target=code}}>
              <div id="backyard-container">
                <img id="backyardImage" src= {{code.profileSrc_3}} role="button" onclick= {{action 'chooseProfilePic' '3' target=code}} />
              </div>
              <input id="imageUpload_3" type="file" name="profile_photo" placeholder="Photo" required="" capture onchange= {{action 'onProfilePic' '3' target=code}}>
              <div id="backyard-container">
                <img id="backyardImage" src= {{code.profileSrc_4}} role="button" onclick= {{action 'chooseProfilePic' '4' target=code}} />
              </div>
              <input id="imageUpload_4" type="file" name="profile_photo" placeholder="Photo" required="" capture onchange= {{action 'onProfilePic' '4' target=code}}>
            </div>
            <!--Page Buttons-->
            <div id="pageButton">
              {{#link-to 'hostprofile2-2'}}<button class="backpage" name="next" type="submit" value="host-page1"><i class="fa fa-arrow-left" aria-hidden="true"></i>BACK</button>{{/link-to}}
              {{#link-to 'hostprofile3-1'}}<button class="nextpage" name="next" type="submit" value="host-page1">NEXT</button>{{/link-to}}
            </div>

      </fieldset>
      </form>
    </div>



      <div class="col-lg-5 col-md-12 col-sm-12 col-12" id="right-column">
        <div class="notebox" id="photoSample">
          <h6 class="note">
        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>Ideas to take backyard photos:</h6>
          <ul>
              <li>Show the place where the BLOCK Home will be located</li>
              <li>Find a spot that can take the whole backyard view</li>
              <li>Share a family photo taken in the backyard</li>
              <li>Take photos that are at least 1024 x 683px</li>
          </ul>

        </div>
      </div>
    </div>
  </div>

  <!-- Footer Section -->
  <footer class="progress-wrap">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
        <span class="sr-only">70%</span>
      </div>
    </div>

  </footer>
{{/hostprofile2-3-code}}
