{{set-body-class "signin-page"}}

{{#let login as |task|}}
  <form id="signinPage" onsubmit={{prevent-default (perform task)}}>
    <h2 class="formHeader">Sign in</h2>
    <div class="loginGroup">
      <input
        type="email"
        name="useremail"
        oninput={{action (mut email) value='target.value'}}
        onblur={{action 'checkTyped'}}
        required>
      <span class="highlight"></span><span class="bar"></span>
      <label>User Email</label>
    </div>
    <div class="loginGroup">
      <input
        type="password"
        name="psw"
        oninput={{action (mut password) value='target.value'}}
        onblur={{action 'checkTyped'}}
        required>
      <span class="highlight"></span><span class="bar"></span>
      <label>Password</label>
      <div class="notification">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>The initial password should be the sign-in code sent to your email by the Block Project team.
        <a href="#">
          <span class="getCode">Didn't get a code?</span>
        </a>
      </div>
    </div>
    <input
      type='submit'
      value={{if task.isRunning 'Signing in...' 'Sign in'}}
      disabled={{task.isRunning}}>
    <div class="resetPassword">
      <a href="#" onclick={{prevent-default (action openModal 'forgotPassword')}}>Forget your password?</a>
    </div>
  </form>
{{/let}}

{{#if (eq modalName 'changePassword')}}
  {{#modal-dialog
    onClose=closeModal
    translucentOverlay=true
  }}
    <h2>Welcome!</h2>
    {{#let changePassword as |task|}}
      <form onsubmit={{prevent-default (perform task)}}>
        <legend>
          Before continuing you need to change your password.
        </legend>
        <div>
          <label>password:</label>
          <input
            type='password'
            minlength=8
            required
            oninput={{action (mut modalContext.newPassword1) value='target.value'}}>
        </div>
        <div>
          <label>password (confirm):</label>
          <input
            type='password'
            minlength=8
            required
            oninput={{action (mut modalContext.newPassword2) value='target.value'}}>
        </div>
        <input
          type='submit'
          value={{if task.isRunning 'Changing...' 'Change'}}
          disabled={{task.isRunning}}>
      </form>
    {{/let}}
  {{/modal-dialog}}
{{else if (eq modalName 'forgotPassword')}}
  {{#modal-dialog
    onClose=closeModal
    translucentOverlay=true
  }}
    <h2>Forgot password</h2>
    {{#let forgotPassword as |task|}}
      <form onsubmit={{prevent-default (perform task)}}>
        <legend>
          First we need the e-mail address on your account
        </legend>
        <div>
          <label>email address:</label>
          <input
            type='email'
            required
            oninput={{action (mut modalContext.email) value='target.value'}}>
        </div>
        <input
          type='button'
          value='Cancel'
          onclick={{action closeModal}}
          disabled={{task.isRunning}}>
        <input
          type='submit'
          value={{if task.isRunning 'Submitting...' 'Submit'}}
          disabled={{task.isRunning}}>
      </form>
    {{/let}}
  {{/modal-dialog}}
{{else if (eq modalName 'completeForgotPassword')}}
  {{#modal-dialog
    onClose=closeModal
    translucentOverlay=true
  }}
    <h2>Forgot password</h2>
    {{#let completeForgotPassword as |task|}}
      <form onsubmit={{prevent-default (perform task)}}>
        <legend>
          You should receive an email with a confirmation code. Enter it here and
          choose a new password
        </legend>
        <div>
          <label>code:</label>
          <input
            type='text'
            required
            oninput={{action (mut modalContext.code) value='target.value'}}>
        </div>
        <div>
          <label>password:</label>
          <input
            type='password'
            minlength=8
            required
            oninput={{action (mut modalContext.password) value='target.value'}}>
        </div>
        <input
          type='button'
          value='Cancel'
          onclick={{action closeModal}}
          disabled={{task.isRunning}}>
        <input
          type='submit'
          value={{if task.isRunning 'Submitting...' 'Submit'}}
          disabled={{task.isRunning}}>
      </form>
    {{/let}}
  {{/modal-dialog}}
{{/if}}
