{{set-body-class "signin-page"}}

<form id="signinPage" onsubmit={{perform login}}>
  <h2 class="formHeader">Sign in</h2>
  <div class="loginGroup">
    <input
      type="email"
      name="useremail"
      oninput={{action (mut email) value='target.value'}}
      onblur={{action 'checkTyped'}}
      required>
    <span class="highlight"></span><span class="bar"></span>
    <label>User Email</label>
  </div>
  <div class="loginGroup">
    <input
      type="password"
      name="psw"
      oninput={{action (mut password) value='target.value'}}
      onblur={{action 'checkTyped'}}
      required>
    <span class="highlight"></span><span class="bar"></span>
    <label>Password</label>
    <div class="notification">
      <i class="fa fa-exclamation-circle" aria-hidden="true"></i>The initial password should be the sign-in code sent to your email by the Block Project team.
      <a href="#">
        <span class="getCode">Didn't get a code?</span>
      </a>
    </div>
  </div>
  <input type='submit' value='Enter'>

  {{#if error}}
    <div class='alert alert-error'>
      {{error}}
    </div>
  {{/if}}

  <div class="resetPassword"> <a href="#">Forget your password?</a></div>
</form>
